@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 60px;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: white;
  z-index: 10;
  font-weight: 600;
}

li {
  list-style: none;
}

.btn {
  padding: 23px 30px 23px 29px;
  background: #F2A93B;
  box-shadow: 3px 15px 14px 0px rgba(86, 54, 15, 0.5);
  border-radius: 12px;
  transition: all 0.4s ease;
}
.btn:hover {
  background: #c97900;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

/* Main Style */
.landing {
  background: linear-gradient(139.16deg, #4E3930 10.82%, #3A2727 35.26%, #211309 61.86%);
  height: 100vh;
  position: relative;
}

.hamburger {
  display: none;
  z-index: 10;
}

.title {
  display: none;
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding-top: 54px;
}

.nav_links {
  display: flex;
  gap: 55px;
}

.link {
  position: relative;
  font-size: 17px;
  padding-bottom: 5px;
}
.link::after {
  content: "";
  position: absolute;
  width: 90%;
  bottom: 0;
  left: 5%;
  height: 2px;
  background-color: #F2A93B;
  transition: all 0.25s ease-out; /* Add a transition effect */
  transform: scaleX(0); /* Start with no border */
  transform-origin: bottom right;
}
.link:hover::after { /* Add the hover effect */
  transform: scaleX(1); /* Expand the border on hover */
  transform-origin: bottom left;
}

/* Offer */
.offer {
  display: flex;
  z-index: 10;
}

.img_container {
  width: 50%;
}

.action_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 70px;
  height: 80vh;
  z-index: 10;
}
.action_wrap .offer_btn {
  width: 40%;
  text-align: center;
}
.action_wrap .offer_title {
  color: #fff;
}

.honey {
  transform: rotatey(180deg);
  position: absolute;
  top: 0;
  height: 100vh;
}

/* Products */
.products .container {
  gap: 30px;
  margin-bottom: 100px;
}

.products {
  background: #FFF6EE;
  text-align: center;
}

.catalog_title {
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  padding: 150px 0 100px;
}

.card_wrap {
  background: #fff;
  box-shadow: 5px 3px 20px #BEBEBE;
  height: 450px;
  width: 370px;
  border-radius: 10px;
  position: relative;
}

.card_btn {
  background: rgba(39, 39, 39, 0.2862745098);
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 45px 0;
  text-align: center;
  font-size: 25px;
  font-weight: normal;
  color: #000;
  transition: all 0.4s ease;
}
.card_btn:hover {
  background: #F2A93B;
  color: #fff;
}

.product_btn {
  padding: 23px 70px;
}

/* Info */
.info {
  background: #FFF6EE;
  padding-top: 190px;
  padding-bottom: 150px;
}
.info .container {
  justify-content: start;
}
.info h2 {
  font-size: 35px;
}

.times {
  flex: 1;
}

.direction {
  flex: 1;
}

.week_wrap {
  display: flex;
  gap: 102px;
  line-height: 2;
  margin-bottom: 120px;
}

.week_times {
  font-size: 25px;
}

.bold {
  font-weight: 600;
}

.sm {
  font-size: 22px;
}

.times_title {
  padding-bottom: 100px;
}

.direction_title {
  padding-bottom: 100px;
}

.direction_text {
  padding-bottom: 50px;
  font-size: 25px;
}
.direction_text span {
  font-weight: 600;
}

/* Footer */
footer {
  background: linear-gradient(139.16deg, #4E3930 10.82%, #3A2727 35.26%, #211309 61.86%);
  color: #fff;
}
footer .link {
  font-size: 22px;
}
footer .footer_title {
  color: #ffb865;
}
footer .container {
  justify-content: space-between;
  align-items: center;
  padding: 65px 0;
  font-size: 22px;
}
footer li {
  line-height: 2;
}
footer .tel {
  margin-bottom: 20px;
}
footer p {
  font-weight: 600;
}

.arrow {
  height: 100%;
}

/* ______________________________________________________ */
.catalog_body {
  background: #FFF6EE;
}

nav {
  background: var(--colour-main-page, linear-gradient(108deg, #4E3930 0%, #3A2727 46.88%, #211309 97.92%));
  padding-bottom: 54px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

.nav_title {
  font-size: 20px;
  transition: all 0.3s ease;
}
.nav_title:hover {
  color: #F2A93B;
}

/* Catalog */
main .container {
  justify-content: space-between;
  margin-top: 250px;
  display: block;
}
main .container .catalog_title {
  padding: 50px 0;
  text-align: left;
}
main .tabs {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}
main .link {
  color: #000;
  font-size: 25px;
  cursor: pointer;
}

hr {
  margin-bottom: 100px;
}

.page {
  display: none;
}

.is_active {
  display: block;
}

@media screen and (max-width: 480px) {
  .landing {
    position: relative;
  }
  .nav_links {
    flex-direction: column;
    gap: 30px;
    position: absolute;
    padding-left: 30px;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80%;
    font-size: 25px;
    background: rgba(18, 18, 18, 0.6);
    background: rgba(18, 18, 18, 0.3);
    box-shadow: 12px 4px 20px rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(30px);
            backdrop-filter: blur(30px);
    transform: translate(-150%);
    z-index: 11;
  }
  .nav_links .link {
    transition: all 0.4s ease;
    font-size: 25px;
  }
  .nav_links .link::after {
    transform-origin: bottom left;
  }
  .nav_links .link:hover::after {
    transform: scaleX(0);
  }
  .nav_links .link:hover {
    color: #F2A93B;
  }
  .title {
    display: block;
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 118px;
  }
  .hamburger {
    display: block;
  }
  /* Offer */
  .img_container {
    width: 5%;
  }
  .honey {
    width: 100%;
    filter: blur(20px);
  }
  .action_wrap .offer_title {
    font-size: 50px;
  }
  .action_wrap .offer_btn {
    width: 45%;
  }
  /* Products */
  .container {
    flex-direction: column;
    align-items: center;
  }
  /* Info */
  .container {
    justify-content: start;
  }
  .times_title {
    text-align: center;
    padding-bottom: 50px;
  }
  .week_wrap {
    flex-direction: column;
    text-align: center;
    gap: 30px;
    font-size: 20px;
    margin-bottom: 100px;
  }
  .direction_title {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 100px;
  }
  .direction {
    width: 100%;
  }
  .direction_text {
    width: 100%;
  }
  /* Footer */
  footer .container {
    align-items: start;
    position: relative;
  }
  footer .footer_menu {
    margin: 50px 0;
  }
  footer .mobile_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
  }
  footer .arrow_up {
    position: absolute;
    right: 10%;
    top: 45%;
  }
  footer .arrow {
    height: 100px;
  }
}/*# sourceMappingURL=style.css.map */